@media (prefers-color-scheme: dark) {
  body {
    filter:invert(90%);
  }
}

html, body {
  background-color  : #666;
}

body {
  margin            : 0;
  font-family       : Liberation Serif, Times New Roman, sans-serif;
  font-size         : 18px;
}

a {
  color: #225;
  text-decoration: none;
  font-style: oblique;
}

a:hover {
  text-decoration: underline;
}

article {
  margin            : auto;
  background-color  : white;
  padding           : 1px 20px 10px;
}

div.page {
  border-radius     : 20px;
  margin            : auto;
  max-width         : 760px;
  padding           : 0;
}

header {
  background-color  : #DDD;
  padding           : 5px;
}

footer {
  background-color  : #DDD;
  padding           : 5px;
}

nav {
  float: left;
}

nav.lang {
  float: right;
}

pre, code {
  background-color  : #EEE;
  overflow-x        : auto;
}

code {
  font-size         : 13px;
}

ol {
  margin: 0px;
}

dd {
  margin-left: 20px;
}
