body {
  background-color  : #CCC;
  margin            : 0;
}

a {
  color: #225;
  text-decoration: none;
  font-style: oblique;
}

a:hover {
  text-decoration: underline;
}

article {
  margin            : auto;
  background-color  : #EEE;
  padding           : 5px;
}

div.page {
  border-radius: 20px;
  margin            : auto;
  max-width         : 720px;
  padding           : 0;
}

header {
  background-color  : #DDD;
  padding           : 5px;
}

footer {
  background-color  : #DDD;
  padding           : 5px;
}

body {
  font-family: Liberation Serif, Times New Roman, sans-serif;
  font-size  : 18px;
}

nav {
  float: left;
}

nav.lang {
  float: right;
}

pre {
  background-color  : #DCDCDC;
}

code {
  font-size         : 13px;
  background-color  : #DCDCDC;
}

ol {
  margin: 0px;
}

dd {
  margin-left: 20px;
}
