article {
  margin            : auto;
  background-color  : #EEE;
  padding           : 5px;
}

div.page {
  margin            : auto;
  max-width         : 720px;
  padding           : 0;
}

header {
  background-color  : #DDD;
  padding           : 5px;
}

footer {
  background-color  : #DDD;
  padding           : 5px;
}

body {
  font-family: Liberation Serif, Times New Roman, sans-serif;
  font-size  : 18px;
}

nav {
  float: left;
}

nav.lang {
  float: right;
}

pre {
  background-color  : #DDD;
}

code {
  font-size         : 13px;
  background-color  : #DDD;
}

ol {
  margin: 0px;
}

dd {
  margin-left: 20px;
}
