body {
  margin: 1px;
  background-color: #333;
  color: #BBB;
}

.vostokbox-editor {
  background-color: #444;
  display: none;
  width: 614px;
  height: 600px;
  font-size: 14px;
  white-space: pre;
  float: left;
}

button {
  background-color: inherit;
  color: inherit;
}

#vostokbox-tabs button {
  background-color: #444444;
  color: #DDD;

  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px 12px;
  white-space: pre;
  transition: 0.3s;
}

#vostokbox-tabs button:hover {
  background-color: #555;
}

#vostokbox-tabs button.active {
  background-color: #666;
  color: #EEE
}

#vostokbox-log {
  width: 600px;
  height: 600px;
  overflow: auto;
  float:right;
  color:#EEE;
  background-color: #505050;
}

.vostokbox-log-script {
  background-color: #787878;
  padding: 4px;
  border-radius: 6px;
  margin: 0px;
}

a {
  color: inherit;
}

.vostokbox-log-script:hover {
  text-decoration: underline;
}

.vostokbox-log-out {
  margin: 0px;
}

.vostokbox-log-error {
  color: #F00;
}

.vostokbox-command-line {
  background-color: inherit;
  color: inherit;

  width: 400px;
}

.ctrl-up   .ctrl     { display: none; }
.ctrl-up   .no-ctrl  { display: block;}
.ctrl-down .ctrl     { display: block;}
.ctrl-down .no-ctrl  { display: none; }
