body {
  margin: 1px;
  background-color: #333;
  color: #DDD;
}

.vostokbox-editor {
  background-color: #444;
  width: 614px;
  height: 600px;
  font-size: 14px;
  white-space: pre;
  float: left;
  color: inherit;
  border: 0;
  padding: 0;
  resize:both;
}

button {
  background-color: #444;
  border-radius: 3px;
  color: inherit;
  border: 1px solid #333;
  transition: 0.2s;
}

button:hover {
  background-color: #555;
}

input {
  border: 1px solid #444;
  border-radius: 3px;
  outline: none;
}

input:focus {
  background-color: #383838;
  border: 1px solid #555;
}

#vostokbox-tabs button {
  background-color: #444444;
  border: 0;
  border-radius: 0;
  color: #DDD;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px 12px;
  white-space: pre;
  transition: 0.2s;
}

#vostokbox-tabs button:hover {
  background-color: #555;
}

#vostokbox-tabs button.active {
  background-color: #666;
  color: #EEE
}

#vostokbox-log {
  min-width: 320px;
  width: calc(100% - 614px);
  height: 600px;
  overflow: auto;
  float: right;
  color: #EEE;
  background-color: #383838;
}

.vostokbox-log-script {
  background-color: #787878;
  padding: 4px;
  border-radius: 6px;
  margin: 0px;
}

a {
  color: inherit;
}

.vostokbox-log-script:hover, .vostokbox-button-runner:hover {
  text-decoration: underline;
}

.vostokbox-log-out {
  margin: 0px;
}

.vostokbox-log-error {
  color: #FF9090;
}

.vostokbox-command-line {
  background-color: inherit;
  color: inherit;

  width: 400px;
}

.ctrl-up   .ctrl     { display: none; }
.ctrl-up   .no-ctrl  { display: block;}
.ctrl-down .ctrl     { display: block;}
.ctrl-down .no-ctrl  { display: none; }
