body {
  margin: 1px;
}

.vostokbox-editor {
  width: 614px;
  height: 600px;
  font-size: 14px;
  white-space: pre;
  float: left;
  color: inherit;
  border: 0;
  padding: 0;
  resize:both;
}

button {
  border-radius: 3px;
  color: inherit;
  transition: 0.2s;
}

input {
  outline: none;
}

#vostokbox-tabs button {
  border-radius: 0;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px 12px;
  white-space: pre;
  transition: 0.2s;
}

#vostokbox-log {
  min-width: 320px;
  width: calc(100% - 614px);
  height: 600px;
  overflow: auto;
  float: right;
}

.vostokbox-log-script {
  padding: 4px;
  border-radius: 6px;
  margin: 0px;
}

a {
  color: inherit;
}

.vostokbox-log-script:hover, .vostokbox-button-runner:hover {
  text-decoration: underline;
}

.vostokbox-log-out {
  margin: 0px;
}

.vostokbox-command-line {
  background-color: inherit;
  color: inherit;

  width: 400px;
}

.ctrl-up   .ctrl     { display: none; }
.ctrl-up   .no-ctrl  { display: block;}
.ctrl-down .ctrl     { display: block;}
.ctrl-down .no-ctrl  { display: none; }

@media (prefers-color-scheme: dark) {
  body                          { background-color: #333; color: #DDD; }
  .vostokbox-editor             { background-color: #444; }
  button                        { background-color: #444; border: 1px solid #333; }
  button:hover                  { background-color: #555; }
  input                         { border: 1px solid #444; }
  input:focus                   { background-color: #383838; border: 1px solid #555; }
  #vostokbox-tabs button        { background-color: #444444; color: #DDD; }
  #vostokbox-tabs button:hover  { background-color: #555; }
  #vostokbox-tabs button.active { background-color: #666; color: #EEE; }
  #vostokbox-log                { background-color: #383838; color: #EEE; }
  .vostokbox-log-script         { background-color: #787878; }
  .vostokbox-log-error          { color: #FF9090; }
}

@media (prefers-color-scheme: light) {
  button                        { background-color: #CCC;  border: 1px solid #DDD; }
  button:hover                  { background-color: #BBB; }
  input                         { border: 1px solid #CCC; }
  input:focus                   { background-color: #EEE; border: 1px solid #DDD; }
  #vostokbox-tabs button        { background-color: #EEE; }
  #vostokbox-tabs button:hover  { background-color: #D8D8D8; }
  #vostokbox-tabs button.active { background-color: #DDD; }
  #vostokbox-log                { background-color: #EEE; }
  .vostokbox-log-script         { background-color: #D8D8D8; }
  .vostokbox-log-error          { color: #FF0000; }
}
